input[type='range'] {
  -webkit-appearance: none;
  background-color: #ddd;
  height: 20px;
  overflow: hidden;
  width: 300px;
}

input[type='range']::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  height: 20px;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #800000;
  border-radius: 50%;
  box-shadow: -210px 0 0 200px #000080;
  cursor: pointer;
  height: 20px;
  width: 20px;
  border: 0;
}

input[type='range']::-moz-range-thumb {
  background-color: #800000;
  border-radius: 50%;
  box-shadow: -210px 0 0 200px #000080;
  cursor: pointer;
  height: 20px;
  width: 20px;
  border: 10;
}

input[type="range"]::-moz-range-track {
  background-color: #ddd;
}
input[type="range"]::-moz-range-progress {
  background-color: #666;
  height: 20px
}
input[type="range"]::-ms-fill-upper {
  background-color: #ddd;
}
input[type="range"]::-ms-fill-lower {
  background-color: #666;
}



.slidecontainer {
	  width: 100%;
}
.slider {
	-webkit-appearance: none;
	width: 250px;
	height: 15px;
	background: #d3d3d3;
	background: #808080;
	outline: none;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
}

.slider:hover {
	opacity: 1;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 20px;
	height: 20px;
	background: #00008B;
	cursor: pointer;
}

.slider::-moz-range-thumb {
	width: 25px;
	height: 25px;
	background: #04AA6D;
	cursor: pointer;
}
.center {
	margin: 0;
	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.resolution {
        border-color: RoyalBlue;
        padding: 7px 25px;
        font-size: 13px;
}
.select_box {
        border-color: RoyalBlue;
        padding: 6px 1px;
        font-size: 13px;
}
/* set the position of dropdown */
.dropdown {
             position: relative;
             display: inline-block;
}
/* set the size and position of button on web */
.btn {
        background-color: DodgerBlue;
        border: none;
        color: white;
        padding: 8px 30px;
        cursor: pointer;
        font-size: 12px;
}

/* Darker background on mouse-over */
.btn:hover {
        background-color: RoyalBlue;
}
